.grid {
  /* Default variables for grid size and div size */
  --grid-column-count: 16;
  --grid-column-size: 6.25%;

  border: 1px solid black;
  width: 400px;
  height: 400px;
  /* Auto margin centers the .grid on the screen */
  margin: auto;
  display: grid;
  /* Sets the track number(--grid-column-count) and the size of each columns width */
  grid-template-columns: repeat(var(--grid-column-count), var(--grid-column-size));
}

.reset {
  height: 48px;
  width: 240px;
  text-align: center;
  font-size: 32px;
  display: grid;
  margin: 24px auto;
}

